# Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated_plugin_registrant.dart

# Android
android/.gradle/
android/captures/
android/.idea/
*.iml

# iOS
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies

# VS Code
.vscode/

# MacOS
.DS_Store

# Web
web/.dart_tool/

# Others
.idea/
*.lock
*.log
*.tmp
*.swp
